* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 62.5%;
}

.main{
    background-color: rgba(190, 149, 190, 0.7);
    margin-inline: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_logo{
    width: 50vw;
}
.main_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
}
.main_article-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main_article-title{
    font-family: Georgia, serif;
    font-weight: 300;
    margin: 1rem;
}
.main_article-p{
    font-family: Arial, sans-serif;
    line-height: 1.5rem;
    margin-inline: 1rem;
}
.main_article-cta{
    display: flex;
    gap: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: #ffffff;
    padding-block: 0.8rem;
    padding-inline: 1.4rem;
    border-radius: 1.6rem;
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin-block: 1rem;
}
@media screen and (min-width: 768px){
    .main{
        margin-inline: 7rem;
    }
    .main_article{
        margin-inline: 5rem;
        gap: 2rem;
    }
    .main_article-title{
        font-size: 2.2rem;
        margin-inline: 9rem;
    }
    .main_article-p{
        font-size: 1.3rem;
        margin-inline: 3rem;
        line-height: 2rem;
    }
    .main_article-cta{
        font-size: 1.2rem;
        margin-block: 2rem;
    }
    
}
@media screen and (min-width: 1200px){
    .main{
        margin-inline: 14rem;
    }
    .main_article{
        margin-inline: 5rem;
        gap: 2rem;
    }
    .main_article-title{
        font-size: 3.2rem;
        margin-inline: 13rem;
    }
    .main_article-p{
        font-size: 1.7rem;
        margin-inline: 7rem;
        line-height: 3rem;
    }
    .main_article-cta{
        font-size: 1.5rem;
    }
    
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-block: 3rem;
}
.app_title{
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.app_logo{
    display:flex;
    justify-content: center;
    gap: 0.5rem;
    margin-inline: 1rem;
}
.app_logo-box{
    max-height: 2rem; 
    max-width: 6rem;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.app_logo-img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.applestore{
    padding-block: 0.1rem;
}
@media screen and (min-width: 768px){
    .app{
        margin-block: 5rem;
        gap:3rem;
    }
    .app_title{
        font-size: 1.5rem;
    }
    .app_logo{
        gap: 0.7rem;
    }
    .app_logo-box{
        max-height: 3rem; 
        max-width: 10rem;
    }
    .applestore{
        padding-block: 0.1rem;
    }
}
@media screen and (min-width: 768px){
    .app{
        margin-block: 8rem;
        gap:3rem;
    }
    .app_title{
        font-size: 1.5rem;
    }
   
}

.foot{
    text-align: center;
    font-size: 0.6rem;
    margin-block: 1rem;
}
.foot_logo{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;
}
.foot_logo-img{
    width: 40vw;
    height: auto;
    object-fit: contain;
}
@media screen and (min-width: 768px){
    .foot{
        margin-block: 2rem;
    }
    .foot_logo-img{
        width: 20vw;
    }
    
}
@media screen and (min-width: 1200px){
    .foot{
        margin-block: 4rem;
        font-size: 1rem;
    }
    .foot_logo-img{
        width: 20vw;
    }
    
}